

  <input type="file" class="file-upload"
         accept="audio/mp3"
         (change)="evToFile($event)" #fileUpload>
  <button mat-icon-button (click)="play()"><mat-icon>play_arrow</mat-icon></button>
  <button mat-icon-button (click)="stop()"><mat-icon>stop</mat-icon></button>
  <button mat-icon-button (click)="pauseSelect()"><mat-icon>pause</mat-icon></button>

  <mat-form-field style="color: #282831">
    <mat-label>Choose duration</mat-label>
    <mat-select style="color: #282831" [(value)]="selectedDuration" (selectionChange)="onChange(selectedDuration)">
      <mat-option  [value]="duration.value" *ngFor="let duration of durations">{{duration.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div
    (mousemove)="mouseover($event)"
       (click)="click($event)"
       #wavTwoJs id="wave" ></div>

  <div #specTest id="spec"></div>


