<mat-form-field appearance="outline">
  <mat-label>Skew</mat-label>
  <input matInput type="number" min="-1" max="1" step="0.1" (change)="updateSkew.emit(evToNu($event) )" >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Frequency</mat-label>
  <input matInput type="number" min="-1" max="1" step="0.1" (change)="updateFrequency.emit(evToNu($event) )" >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Colorparameter</mat-label>
  <input matInput type="number" min="-1" max="1" step="0.1" (change)="updateColorPara.emit(evToNu($event) )" >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Borderparameter</mat-label>
  <input matInput type="number" min="-1" max="1" step="0.1" (change)="updateBorder.emit(evToNu($event) )" >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Heighparameter</mat-label>
  <input matInput type="number" min="-1" max="1" step="0.1" (change)="updateHeight.emit(evToNu($event) )" >
</mat-form-field>
