<!--<div style="display: table;">-->
<!--  <div style="display: table-row">-->
<!--    <div style="display: table-cell">-->
<!--      <div  id="icebergMorph" #iceberg>-->
<!--        <div></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <app-iceberg-overview [jsonArray]="jsonArray" [icebergDuration]="durationsInMs.oneIcebergDuration"></app-iceberg-overview>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="background">&nbsp; </div>-->

<!--<br>-->
<!--<app-canvasjs-cancer (playMorph)="onPlayMorph($event)" ></app-canvasjs-cancer>-->

<div class="flex flex-col justify-between w-screen mb-10">
  <div class="flex flex-row justify-between max-w-full">
    <div class="flex flex-col icebergMorphSizes pl-10 pr-5">
      <div class="flex flex-col border rounded border-gray-700 box-border box-content mt-2 mb-1">
        <div id="icebergMorph" #iceberg>
          <div>
            <p class="text-base p-2">
              Current morphing
            </p>
          </div>

        </div>
          <button mat-icon-button
                  matTooltipClass="text-base"
                  matTooltipPosition="below"
                  matTooltip="There are 4 parameters from the neural network, ranked
by most important. The color of the glyphs is varying between colors of the color gradient bar.
The freqeuncy (number of gradient stops in the glyph) depends on the second most important parameter.
Followed by height for the third parameter. Lastly the skew stands for the fourth parameter. You can see
the classified emotions in the graphic."
          ><mat-icon>info</mat-icon></button>

        <div id="background">&nbsp;</div>
      </div>
    </div>
    <div class="flex-1"></div>
    <div class="min-w-0 pl-5 pr-10 pt-2 pb-2">
      <app-iceberg-overview class="max-w-full" [jsonArray]="jsonArray"
                            [icebergDuration]="durationsInMs.oneIcebergDuration">
      </app-iceberg-overview>
    </div>
  </div>
  <app-canvasjs-cancer  (playMorph)="onPlayMorph($event)" ></app-canvasjs-cancer>
</div>



