<div *ngIf="parameterArray != null">
  {{name!.split("_")[0]}}
  <span *ngIf="barChart">
    <canvas baseChart
            [datasets]="[{ data: [ parameterArray.x1, parameterArray.x2, parameterArray.x3], label: 'Params' }]"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            height="300px"
            width="405px"
            [legend]="barChartLegend"
            [labels]="[ 'x1', 'x2', 'x3']"
            [type]="'bar'">
    </canvas>
  </span>
  <span *ngIf="!barChart">
    <canvas baseChart
            [datasets]="[{ data: [ parameterArray.x1, parameterArray.x2, parameterArray.x3], label: 'Params' }]"
            [options]="radarChartOptions"
            [plugins]="barChartPlugins"
            height="300px"
            width="405px"
            [legend]="barChartLegend"
            [labels]="[ 'x1', 'x2', 'x3']"
            [type]="'radar'">
    </canvas>
  </span>
</div>
