<!-- <input type="file" class="file-upload"-->
<!--         accept="audio/mp3"-->
<!--         (change)="evToFile($event)" #fileUpload>-->

  <app-file-drag  [mimeTypes]="['audio/*']" [justOneFile]="true" titleString="File to analyze" (addFile)="fileToFile($event)" [hideFiles]="false"></app-file-drag>


<div *ngIf="!_isLoading">
  <div class="flex justify-center mt-4 mb-4 items-center">
    <div class="flex-1"></div>
    <div class="flex-1"></div>
    <div class="flex flex-col justify-center flex-1">
      <mat-label class="mr-5">Interval selection size:</mat-label>
      <mat-form-field class="color: #282831" appearance="outline">
        <mat-select [(value)]="selectedDuration" (selectionChange)="onChange(selectedDuration)" style="color: #282831">
          <mat-option [value]="duration.value" *ngFor="let duration of durations">{{duration.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-1"></div>
    <div class="flex flex-col flex-1">
      <mat-checkbox  (change)="setSelectWOZoom($event.checked)">Select without zoom</mat-checkbox>
      <div class="flex flex-col border-2 rounded border-gray-700 p-2">
        <mat-label>Zoom percentage: {{this.zoomdistance}}</mat-label>
        <mat-slider (input)="setZoomVal($event)" min="0.1" max="0.9" step="0.05" value="0.5"
                    style="width: 300px" [disabled]="this.waveFormService.selectWOZoom">
          <input matSliderThumb>
        </mat-slider>
      </div>
    </div>
    <div class="flex-1"></div>
    <div class="flex-1"></div>
  </div>


  <!-- ################### This is the waveform, buttons playtime etc. #############-->
  <div class="flex flex-col">
    <div class="flex justify-center">
      <div>
        <div class="flex">
          <button mat-icon-button (click)="play()">
            <mat-icon [color]="playButotnsState.playing? 'warn' : null">play_arrow</mat-icon>
          </button>
          <button mat-icon-button (click)="stop()">
            <mat-icon>stop</mat-icon>
          </button>
          <button  mat-icon-button (click)="pauseSelect()" [color]="playButotnsState.paused? 'warn' : null">
            <mat-icon>pause</mat-icon>
          </button>
          <mat-spinner *ngIf="_isLoadingSegment"  diameter="40" color="warn"></mat-spinner>
        </div>
        <div class="text-center">
          <mat-label id="time">{{sec}}  /{{audioLengthInSec}} </mat-label>
        </div>

      </div>
    </div>

    <div
      (mousemove)="mouseover($event)"
      (click)="click($event)"
      #wavTwoJs id="wave">
      <div><p class="text-base p-2">Waveform</p></div></div>
    <button mat-icon-button #tooltip="matTooltip"
            (click)="tooltip.toggle()"
            matTooltipClass="text-base"
            matTooltipPosition="below"
            matTooltip="On this wave plot you can zoom and select specific areas. Unzooming works with 'ESC' key. "
    ><mat-icon>info</mat-icon></button>
  </div>
</div>
<app-loading-anim  *ngIf="_isLoading"></app-loading-anim>
<!--  <div #specTest id="spec"></div>-->


