<!--<app-iceberg-manual-preview></app-iceberg-manual-preview>-->
<div id="centered" >
  <nav style="display: flex inline; margin: 0 auto;">
    <h2 style="margin-top: 10px;">EmoViz</h2>
    <ul >
      <mat-label>
        <a routerLink="/morphing-iceberg" routerLinkActive="active" style="color: yellow; margin-right: 30px">  Icebergmorph</a>
        <a routerLink="/icebergs-emos" routerLinkActive="active "style="color: yellow" >7 Icebergs for emotions</a>
      </mat-label>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

