body {
  background: #282831;
}

canvas {
  width: 100vw;
  height: 200px;
  margin: 2rem auto;
}

#time{
  width: 100px;
}

#wave {
  //float: right;
  height: 200px;
  width: 100vw;
}
#spec{
  height: 200px;
  width: 1200px;
}

