 <mat-toolbar id="navBar">
      <span style="margin-left: 20px;">EmoViz</span>
      <mat-divider></mat-divider>
      <a [routerLink]="icebergMorphRoute"><button mat-button class="navButtons"><mat-icon></mat-icon>Iceberg-morph</button></a> <br>

      <mat-divider></mat-divider>
      <a [routerLink]="icebergEmosRoute"><button mat-button class="navButtons"><mat-icon></mat-icon>7 icebergs for emotions</button></a> <br> <p></p>
    </mat-toolbar>
      <div class="htmlInput">
        <ng-content></ng-content>
      </div>
    <!-- Add Content Here -->
