<!--<div style="display: table;">-->
<!--  <div style="display: table-row">-->
<!--    <div style="display: table-cell">-->
<!--      <div  id="icebergMorph" #iceberg>-->
<!--        <div></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <app-iceberg-overview [jsonArray]="jsonArray" [icebergDuration]="durationsInMs.oneIcebergDuration"></app-iceberg-overview>-->
<!--  </div>-->
<!--</div>-->
<!--<div id="background">&nbsp; </div>-->

<!--<br>-->
<!--<app-canvasjs-cancer (playMorph)="onPlayMorph($event)" ></app-canvasjs-cancer>-->

<div class="flex flex-col justify-between w-screen mb-10">
  <div class="flex flex-row justify-between max-w-full">
    <div class="flex flex-col icebergMorphSizes pl-10 pr-5">
      <div class="flex flex-col border rounded border-gray-700 box-border box-content mt-2 mb-1">
          <app-morphing-single-iceberg (data)="jsonArray=$event" (cccOutPut)="setOutputsAndUpdate($event)"
                                       [morphingInput]="morphInput" [showCharts]="toggleOtherCharts"></app-morphing-single-iceberg>
        <button mat-icon-button #tooltip="matTooltip"
                (click)="tooltip.toggle()"
                matTooltipClass="text-base"
                matTooltipPosition="below"
                matTooltip="There are 3 parameters from the neural network, ranked from 1 to 3
by importance: color of the glyphs is varying between colors of the viridis color scale (shown below),
height and
skew.
You can see the classified emotions in the glyph."
        ><mat-icon>info</mat-icon></button>

        <div id="background">&nbsp;
          <img src="/assets/viridis.png" alt="image">
        </div>
      </div>
    </div>
    <div class="flex-1"></div>
    <div class="min-w-0 pl-5 pr-10 pt-2 pb-2">
         <app-iceberg-overview (toggleOtherCharts)="toggleCharts($event)" class="max-w-full" [jsonArray]="jsonArray"
                               [icebergDuration]="durationsInMs.oneIcebergDuration"></app-iceberg-overview>
    </div>
  </div>
  <app-canvasjs-cancer  (playMorph)="addToObs($event)"></app-canvasjs-cancer>
</div>



