<div>
<app-iceberg [iceConfig]="icebergConfig"></app-iceberg>
<app-inputs (updateSkew)="icebergConfig.params.skew = $event; copyConfig()"
            (updateColorPara)="icebergConfig.params.colorParam = $event; copyConfig()"
            (updateFrequency)="icebergConfig.params.frequency = $event; copyConfig()"
            (updateBorder)="icebergConfig.params.borderParam = $event; copyConfig()"
            (updateHeight)="icebergConfig.params.height = $event; copyConfig()"
></app-inputs>
<br>
<!--<app-audio-visualizer></app-audio-visualizer>-->
<app-canvasjs-cancer></app-canvasjs-cancer>
</div>


